{:paths ["src" "resources"]
 :deps {cljdoc/cljdoc-analyzer {:git/url "https://github.com/lread/cljdoc-analyzer"
                                :sha "e0e79a42f97ed65f4d976d841ca8a4549aa81ce7"}
        cli-matic {:mvn/version "0.3.8"}
        lambdaisland/deep-diff {:mvn/version "0.0-47"}}
 :aliases
 {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-541"}
                      lambdaisland/kaocha-junit-xml {:mvn/version "0.0-70"}}
         :main-opts ["-m" "kaocha.runner"]}}}
